%html
  %head
    %title DripDrop Stats

    %link{:rel => 'stylesheet', :href => 'stats.css'}
    
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'json2.js'}
    %script{:type => 'text/javascript', :src => '../../../js/dripdrop.js'}
    %script{:type => 'text/javascript', :src => 'underscore.js'}
    %script{:type => 'text/javascript', :src => 'backbone.js'}
    %script{:type => 'text/javascript', :src => 'protovis-r3.2.js'}
    %script{:type => 'text/javascript', :src => 'miserables.js'}
    %script{:type => 'text/javascript', :src => 'stats.js'}
  %body
    %h1 DripDrop Stats

    %script{:type => 'text/javascript+protovis'}
      :plain
        var w = document.body.clientWidth,
            h = document.body.clientHeight,
            colors = pv.Colors.category19();
        
        var vis = new pv.Panel()
            .width(w)
            .height(h)
            .fillStyle("white")
            .event("mousedown", pv.Behavior.pan())
            .event("mousewheel", pv.Behavior.zoom());

        var force = vis.add(pv.Layout.Force)
            .nodes([{nodeName: '127.0.0.1', group: 1}, {nodeName: '192.168.1.1', group: 2}])
            .links([{source: 1, target: 0, value: 1}]);

        //force.links().push({source: 2, target: 1, value: 4})
        
        force.link.add(pv.Line);

        force.node.add(pv.Dot)
            .size(function(d) (d.linkDegree + 4) * Math.pow(this.scale, -1.5))
            .fillStyle(function(d) d.fix ? "brown" : colors(d.group))
            .strokeStyle(function() this.fillStyle().darker())
            .lineWidth(1)
            .title(function(d) d.nodeName)
            .event("mousedown", pv.Behavior.drag())
            .event("drag", force);
        
        force.nodes([{nodeName: '127.0.0.1', group: 1}, {nodeName: '192.168.1.1', group: 2},{nodeName: '192.168.1.5', group: 3}]);
        force.link.add(pv.Line);
        
        force.node.add(pv.Dot)
            .size(function(d) (d.linkDegree + 4) * Math.pow(this.scale, -1.5))
            .fillStyle(function(d) d.fix ? "brown" : colors(d.group))
            .strokeStyle(function() this.fillStyle().darker())
            .lineWidth(1)
            .title(function(d) d.nodeName)
            .event("mousedown", pv.Behavior.drag())
            .event("drag", force);
        vis.render();

    #console-messages
