## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo
*.swn

## PROJECT::GENERAL
coverage
rdoc
doc
pkg

#RBX
*.rbc

## PROJECT::SPECIFIC
.rvmrc
Gemfile.lock
.bundle
*.gem
